*{
  margin: 0;
  padding: 0;
  }
  
  body{
    font-family: roboto;
    user-select: none;
    position: relative;
    overflow: hidden;
  }
  .wrapper{
    border-style: solid;
    border-color: black;
  }
  .signup,
  .login{
    width: 17.5%;
    float: left;
    height: 60px;
    background: rgba(0,0,0,.1);
    text-align: center;
    font-size: 180%;
    font-style: bold;
    color: white;
    border-block-end-color: black;
    cursor: pointer;
    position: relative;
    margin-top: 13.7%;
    left: 30%;
    text-transform: uppercase;
  }
  h3{
    text-align: center;
    color: black;
    background: rgba(0,0,0,0);
  
  }
  .signup-form,
  .login-form{
    background:whitesmoke;
    padding: 60px;
    clear: both;
    width: 35%;
    border-style: solid;
    border-color: gray;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    position: relative;
    margin-bottom:8%;
    left: 30%;
    box-sizing: border-box;
    height: 420px;
  }
  .radio_btn{
    font-size: 120%;
    background: rgba(0,0,0,.0);
    letter-spacing: 5pt;
    color: black;
    word-spacing: 13pt;
  }
  .input::placeholder{
    color:black;
    font-size: 17px;
  }
  .input{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0,0,0,.3);
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    color: black;
    text-emphasis-color: white;
    outline: none;
    transform: all 0.5s ease;
  }
  
  .input:focus{
    border: 2px solid black;
  }
  .btn{
    width: 100%;
    background:black;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
  }
  
  span a{
    text-decoration: none;
    color:white;
  }
  
  ::-webkit-input-placeholder { 
    color: #3e3e40;
    font-family: roboto;
  }
  